<!DOCTYPE HTML>
<html>
<body>
<div>
    <p>Test Basic Authentication <a href="/Auth/basic-authentication">here</a></p>
    <p>Test Digest Authentication <a href="/Auth/digest-authentication">here</a></p>
    <p>You can obtain a token from either the <a href="/Auth/basic-authentication">basic-authentication</a> or <a href="/Auth/digest-authentication">digest-authentication</a> endpoints and issue an 'Authorization : Bearer (token here)' call to <a href="/Auth/token-authentication">token-authentication</a></p>
    <p><b>username: test</b> <b>password: test</b></p>
</div>

<br>
<div>
    <p>For some simple CTF style challenges look here:</p>
    <p>Explore the Basic Authentication 'realm' to advance!</p>
    <p>
        <a href="/Auth/challenge-one">Challenge 1</a>
    </p>
</div>

</body>
</html>